---
layout: "base"
eleventyExcludeFromCollections: true
title: "404 Not Found"
permalink: "404.html"
---
<section class="box">
  <div class="box-title">
    404 Not Found
  </div>
  <div class="box-content">
    The page you are looking for does not or no longer exists.
  </div>
</section>