---
layout: "base"
title: "Kat's Blog"
eleventyExcludeFromCollections: true
grid:
  columns: 2
playlist:
  - title: "PS Vita - Home Menu"
    url: "https://files.catbox.moe/82lkb7.mp3"
  - title: "Aphex Twin -  Flim"
    url: "https://files.catbox.moe/vehfv1.mp3"
  - title: "Gabriela Robin - %u30B5%u30A4%u30D0%u30FC%u30D0%u30FC%u30C9"
    url: "https://files.catbox.moe/sucnsr.mp3"
  - title: "Virtual Riot - I heard you like Polyrhythms"
    url: "https://files.catbox.moe/6kxgmz.mp3"
  - title: "Grant - Color"
    url: "https://files.catbox.moe/hua0dx.mp3"
  - title: "Daft Punk - Get Lucky"
    url: "https://files.catbox.moe/waw4wg.mp3"
  - title: "Virtual Riot - Idols"
    url: "https://files.catbox.moe/x2wi6r.mp3"
---
<section class="box col-span-2">
  <div class="box-title">
    About me
  </div>
  <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;" class="box-content">
    <p style="font-size: 0.9rem; text-align: start; flex-grow: 1; margin-left: 10px">
      <span style="font-size: 1.5rem;">
        Kathrin De Cecco
      </span>
      <br/>
      A strange being beyond time and space. 👾
      <br/>
      music maniac ~ software engineer ~ freelance sys-admin apparently
      <br/>
      <br/>
      <span style="text-align: center; padding-top: 1rem;">
        <a href="https://www.mabsland.com/Adoption.html"><img src="/images/banners/Censor_14c.gif" style="height: 31px;" /></a>
        <img src="/images/banners/construction.gif" />
      </span>
    </p>
    <img src="/images/USERPROFILE.png" style="width: 200px; margin: 2px -30px -30px 0;" />
  </div>
</section>
<section class="box">
  <div class="box-title">
    My stamps
  </div>
  <div style="max-height: 12rem; overflow-y: auto;" class="box-content">
    <a href="https://www.youtube.com/watch?v=9-kS3jEzVeg"><img src="/images/banners/GilvaSunner.gif" class="webstamp" /></a>
    <a href="https://archlinux.org/"><img src="/images/banners/archlinux.gif" class="webstamp" /></a>
    <img src="/images/banners/css2.gif" class="webstamp" />
    <a href="https://www.youtube.com/watch?v=P_CSdxSGfaA"><img src="/images/banners/vocaloid.gif" class="webstamp" /></a>
    <img src="/images/banners/volta.gif" class="webstamp" />
    <a href="https://monkeytype.com/"><img src="/images/banners/wpm.png" class="webstamp" /></a>
    <a href="https://cyber.dabamos.de/88x31/index.html"><img src="/images/banners/88x31.gif" class="webstamp" /></a>
    <a href="https://myanimelist.net/profile/kathi_x64"><img src="/images/banners/blink-0.gif" class="webstamp" /></a>
  </div>
</section>
<section class="box">
  <div class="box-title">
    Fanlistings
  </div>
  <div style="max-height: 10rem; overflow-y: auto;" class="box-content">
    <a href="http://fan.midnight-cloud.net/frieren/"><img src="/images/fanlistings/frieren.jpg" /></a>
    <a href="https://aerofanlisting.nekoweb.org/"><img src="/images/fanlistings/frutiger.png" /></a>
    <a href="https://totallygirl.net/tea/"><img src="/images/fanlistings/tea.png" /></a>
    <a href="https://precious-memory.net/food/vegetables"><img src="/images/fanlistings/salad.jpg" /></a>
    <a href="https://10-31.net/megan/garlic"><img src="/images/fanlistings/garlic-bread.png" /></a>
    <a href="https://gryffindors.com/jessica/strawberries"><img src="/images/fanlistings/strawberries.png" /></a>
    <a href="http://fan.midnight-cloud.net/portal2/"><img src="/images/fanlistings/portal2.png" /></a>
    <a href="https://thewildrose.org/rice"><img src="/images/fanlistings/rice.jpg" /></a>
    <a href="https://charmed.altervista.org/burritos"><img src="/images/fanlistings/burritos.png" /></a>
    <a href="https://herotovillain.com/pizza"><img src="/images/fanlistings/pizza.png" /></a>
    <a href="https://shadow-lord.com/metal"><img src="/images/fanlistings/metal-music.png" /></a>
    <a href="https://totallygirl.net/italian"><img src="/images/fanlistings/italian-food.png" /></a>
    <a href="https://jpop.hatsukoi.org"><img src="/images/fanlistings/jpop.gif" /></a>
    <a href="https://yerfej.org/ncis"><img src="/images/fanlistings/ncis.png" /></a>
    <a href="https://fan.glast-heim.net/basshunter"><img src="/images/fanlistings/basshunter.jpg" /></a>
    <a href="http://mononoke.perfectdrug.net/"><img src="/images/fanlistings/mononokehime.jpg" /></a>
    <a href="http://fl.yours-to-break.net/sss"><img src="/images/fanlistings/sss.jpg" /></a>
    <a href="https://shb.crystarium.net"><img src="/images/fanlistings/ffxiv-shb.png" /></a>
    <a href="https://yaten.net/ffxvi"><img src="/images/fanlistings/ffxvi.png" /></a>
    <a href="https://fan.glast-heim.net/glados"><img src="/images/fanlistings/glados.png" /></a>
    <a href="https://fanlistings.neo-zelandaise.net/sims3"><img src="/images/fanlistings/sims3.jpg" /></a>
    <a href="https://ladyrose.buruma.net/tl"><img src="/images/fanlistings/tl.png" /></a>
    <a href="https://imaginary.nu/parks"><img src="/images/fanlistings/parks.png" /></a>
    <a href="https://movieloverfls.org/childishglover/childish"><img src="/images/fanlistings/childishgambino.jpg" /></a>
    <a href="https://ladyrose.buruma.net/theweeknd/weeknd"><img src="/images/fanlistings/weeknd.png" /></a>
    <a href="https://ladyrose.buruma.net/weirdal"><img src="/images/fanlistings/weirdal.jpg" /></a>
    <a href="https://www.purifiedfiction.com/mikeshinoda"><img src="/images/fanlistings/mikeshinoda.gif" /></a>
    <a href="https://fanlistings.melankorin.net/vocaloid"><img src="/images/fanlistings/vocaloid-miku.png" /></a>
    <a href="https://glitterskies.org/steam"><img src="/images/fanlistings/steam.png" /></a>
    <a href="http://amalgamate.afflatus-misery.net/scp"><img src="/images/fanlistings/scp.gif" /></a>
    <a href="https://linkinpark.dead-ish.net"><img src="/images/fanlistings/linkinpark.jpg" /></a>
    <a href="https://starry-eyed.gensoukai.net/rhcp"><img src="/images/fanlistings/rhcp.jpg" /></a>
    <a href="https://glitterskies.org/evanescence"><img src="/images/fanlistings/evanescence.png" /></a>
    <a href="https://ladyrose.buruma.net/greenday"><img src="/images/fanlistings/greenday.png" /></a>
    <a href="https://ladyrose.buruma.net/gorillaz"><img src="/images/fanlistings/gorillaz.png" /></a>
    <a href="https://www.purifiedfiction.com/mychemicalromance"><img src="/images/fanlistings/mcr.gif" /></a>
    <a href="https://ladyrose.buruma.net/offspring"><img src="/images/fanlistings/theoffspring.png" /></a>
    <a href="https://pinkfloyd.thoughtdreams.org"><img src="/images/fanlistings/pinkfloyd.gif" /></a>
    <a href="https://movieloverfls.org/21pilots"><img src="/images/fanlistings/21pilots.png" /></a>
  </div>
</section>
<section class="box col-span-2">
  <div class="box-title">
    Latest post
  </div>
  <div class="box-content">
    {% assign latestPost = collections.all | last %}
    <a href="{{ latestPost.url }}">{{ latestPost.data.title }}</a>
    <p>{{ latestPost.data.description }}</p>
  </div>
</section>
<section class="box col-span-2">
  <div class="box-title">
    Thanks to...
  </div>
  <div class="box-content">
    <ul>
      <li>Awesome wallpaper by <a href="https://duckwithsunglasses.com/">Liam / Z2r</a></li>
      <li><a href="https://www.scmplayer.net/">SCMplayer</a> by Adrian C. Shum</li>
      <li><a href="https://github.com/mx-2/oxylite-icon-theme/">Oxylite icons</a> are licensed under GPLv3</li>
      <li>The people who made the music available on the MP3 player</li>
    </ul>
  </div>
</section>
